name: docs

on:
    # 当 develop 分支有代码推送时触发
    push:
        branches:
            - develop

# 一个 workflow 可以包含多个 job
jobs:
  docs:
    runs-on: ubuntu-latest

    # job 内的步骤
    steps:
        # 1. 拉取仓库代码
        - name: Checkout  ️
          uses: actions/checkout@v4

        # 2. 安装指定版本 Node.js
        - name: lock npm version
          uses: actions/setup-node@v4
          with:
              node-version: 21.7.3

        # 3. 安装依赖并构建
        - name: Install and Build
          run: |
              npm install --frozen-lockfile
              # npm i -g pnpm
              # pnpm run init
              # pnpm run docs:build
          env:
              NODE_OPTIONS: '--max_old_space_size=4096'

        # 4. 部署到 GitHub Pages
        - name: 部署到 GitHub Pages
          uses: crazy-max/ghaction-github-pages@v4
          with:
              BRANCH: gh-pages
              FOLDER: docs/.vuepress/dist
              ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
